button {
    background: transparent;
    border: 2px solid var(--button-color, #000000);
    border-radius: 1rem;
}

.button-one {
    --button-color: #571832;
}

.button-one .line {
    transition:
        translate 300ms ease-in,
        transform 300ms ease-in,
        rotate 300ms ease-in,
        opacity 500ms 150ms;
    transform-origin: center;
}

.button-one:hover .line {
    transition:
        translate 300ms ease-in,
        transform 300ms ease-in,
        rotate 300ms ease-in,
        opacity 300ms;
}

/* not using y property cause it doesn't work properly in firefox */
.button-one:hover .top {
    translate: -15px 15px;
    rotate: 0.75rad;
}

.button-one:hover .middle {
    opacity: 0;
}

.button-one:hover .bottom {
    translate: -15px -15px;
    rotate: -0.75rad;
}