button {
    background: transparent;
    border: 2px solid var(--button-color, #000000);
    border-radius: 1rem;
    cursor: pointer;
}

.button-one {
    --button-color: #571832;
}

.button-one .line {
    transition:
        translate 300ms ease-in,
        transform 300ms ease-in,
        rotate 300ms ease-in,
        opacity 500ms 150ms;
    transform-origin: center;
}

.button-one:hover .line {
    transition:
        translate 300ms ease-in,
        transform 300ms ease-in,
        rotate 300ms ease-in,
        opacity 300ms;
}

/* not using y property cause it doesn't work properly in firefox */
.button-one:hover .top {
    translate: -15px 15px;
    rotate: 0.75rad;
}

.button-one:hover .middle {
    opacity: 0;
}

.button-one:hover .bottom {
    translate: -15px -15px;
    rotate: -0.75rad;
}

/* BUTTON TWO */
.button-two {
    --button-color: #232;
}

.button-two .line {
    animation: to-open-menu 1s forwards;
}
.button-two .line.middle {
    animation: middle-open 1s forwards;
}

.button-two:hover .line {
    animation: to-close-menu 1s forwards;
}
.button-two:hover .line.middle {
    animation: middle-close 1s forwards;
}

.button-two .line.top {
    --rotation: 45deg;
    --translation-val: 36.25px -5px;
    transform-origin: top left;

}
.button-two .line.bottom {
    --rotation: -45deg;
    --translation-val: 36.25px 7.5px;
    transform-origin: bottom left;

}

@keyframes middle-close {
    0% { stroke-dashoffset: 0; opacity: 1;}
    15% {opacity: 1;}
    20% {opacity: 0;}
    40% { stroke-dashoffset: 79.9; opacity: 0;}
    60% { stroke-dashoffset: 79.9;  opacity: 0;}
    100% { stroke-dashoffset: 0;  opacity: 0;}
}
@keyframes middle-open {
    100% { stroke-dashoffset: 0; opacity: 1;}
    60% { stroke-dashoffset: 79.9; opacity: 0;}
    40% { stroke-dashoffset: 79.9; opacity: 0;}
    0% { stroke-dashoffset: 0;  opacity: 0;}
}

@keyframes to-close-menu {
    0% { stroke-dashoffset: 0; }
    40% { stroke-dashoffset: 79.9; }
    60% { stroke-dashoffset: 79.9; transform: rotateZ(var(--rotation)); translate: var(--translation-val);}
    100% { stroke-dashoffset: 0;  transform: rotateZ(var(--rotation)); translate: var(--translation-val);}
}
@keyframes to-open-menu {
    100% { stroke-dashoffset: 0; }
    60% { stroke-dashoffset: 79.9; }
    40% { stroke-dashoffset: 79.9; transform: rotateZ(var(--rotation)); translate: var(--translation-val);}
    0% { stroke-dashoffset: 0;  transform: rotateZ(var(--rotation)); translate: var(--translation-val);}
}

/* BUTTON THREE */
.button-three {
    --button-color: purple;
    overflow: hidden;
}

.button-three .hamburger {
    transition: translate 1s, rotate 1s;
}
.button-three[aria-expanded="true"] .hamburger {
    /* border: solid 1px red; */
    translate: 10px -10px;
    rotate: 0.125turn;
}

.button-three .line {
    transition: 1s;
    stroke-dasharray: 60 30 60 300;
}
.button-three[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}